/* 
 * GitHub Repository Phishing Alert Appeal & Project Verification
이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
This CSS is part of a student project. 
Any resemblance to real-world commercial sites is purely for design practice.
*/
/* common.css */
#wrap {min-width:320px; max-width:1920px; margin:0 auto;}
/* ===========================================================================moblie_menu */
#wrap .m_bg * {color:#333; font-size:0.88rem;}
#wrap .m_bg {
    position:fixed; left:0; top:0; z-index:98;
    width:100%; height:100vh; background:rgba(0,0,0,0.4);
    display:none;
}
#wrap .m_bg .m_side_wrap {
    width:400px; height:100vh; background-color:#fff;
    display:flex; flex-flow:column nowrap; gap:30px;
    position:absolute; left:0; top:0; z-index:500;
    padding:50px;
}
#wrap .m_bg .m_side_wrap .top {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
#wrap .m_bg .m_side_wrap .top h1 {}
#wrap .m_bg .m_side_wrap .top h1 img {}
#wrap .m_bg .m_side_wrap .top .close {}
#wrap .m_bg .m_side_wrap .top .close img {}
#wrap .m_bg .m_side_wrap .m_gnb {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
#wrap .m_bg .m_side_wrap .m_gnb a {}
#wrap .m_bg .m_side_wrap .m_gnb a:hover {color:#FF6E86;}
#wrap .m_bg .m_side_wrap .m_gnb a:last-child {color:#FF6E86;}
#wrap .m_bg .m_side_wrap .m_gnb a:last-child:hover {font-weight:500;}
#wrap .m_bg .m_side_wrap .m_gnb span {width:1px; height:7px; background:#d9d9d9;}
#wrap .m_bg .m_side_wrap .m_gnb .best {}
#wrap .m_bg .m_side_wrap .m_gnb .new {}
#wrap .m_bg .m_side_wrap .m_gnb .event {}
#wrap .m_bg .m_side_wrap .category {}
#wrap .m_bg .m_side_wrap .category > li {border-bottom:1px solid #f5f5f5;}
#wrap .m_bg .m_side_wrap .category > li.active .cate_area {border-bottom:1px solid #FF6E86;}
#wrap .m_bg .m_side_wrap .category > li.active .cate_area a {color:#FF6E86; font-weight:500;}
#wrap .m_bg .m_side_wrap .category > li .cate_area:hover {border-bottom:1px solid #FF6E86;}
#wrap .m_bg .m_side_wrap .category > li .cate_area a {line-height:44px; display:block;}
#wrap .m_bg .m_side_wrap .category > li .cate_area a:hover {color:#FF6E86; font-weight:500;}
#wrap .m_bg .m_side_wrap .category > li .cate_area {position:relative;}
#wrap .m_bg .m_side_wrap .category > li .cate_area > a {line-height:44px; display:block;}
#wrap .m_bg .m_side_wrap .category > li .cate_area > a:hover {color:#FF6E86; font-weight:500;}
#wrap .m_bg .m_side_wrap .category > li .cate_area .cate_more {
    position:absolute; right:0; top:50%; transform:translateY(-50%);
}
#wrap .m_bg .m_side_wrap .category > li .cate_area .cate_more img {}
#wrap .m_bg .m_side_wrap .category > li .cate_depth2_wrap {display:flex;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth2_wrap .cate_depth2 {flex:1; display:none;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth2_wrap .cate_depth2 > li {padding:15px 0;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth2_wrap .cate_depth2 > li > a:hover {color:#FF6E86; font-weight:500;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth2_wrap .cate_depth2 > li > a {
    font-size:0.81rem; font-weight:300; display:block;
}
#wrap .m_bg .m_side_wrap .category > li .cate_depth3_wrap {flex:1; display:none;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth3_wrap .cate_depth3 {}
#wrap .m_bg .m_side_wrap .category > li .cate_depth3_wrap .cate_depth3 > li {padding:8px 0;}
#wrap .m_bg .m_side_wrap .category > li .cate_depth3_wrap .cate_depth3 > li > a {
    font-weight:300; font-size:0.75rem;
}
#wrap .m_bg .m_side_wrap .category > li .cate_depth3_wrap .cate_depth3 > li > a:hover {color:#FF6E86;}
#wrap .m_bg .m_side_wrap .m_user_menu {display:flex; flex-flow:column nowrap;}
#wrap .m_bg .m_side_wrap .m_user_menu a {
    display:flex; align-items:center; line-height:40px; font-size:0.75rem; gap:3px;
}
#wrap .m_bg .m_side_wrap .m_user_menu a:hover {color:#FF6E86;}
#wrap .m_bg .m_side_wrap .m_user_menu a img {height:15px;}
#wrap .m_bg .m_side_wrap .m_user_menu .m_login {}
#wrap .m_bg .m_side_wrap .m_user_menu .m_cart {}
/* ===========================================================================header */
#wrap header {width:100%;}
#wrap header #top_bnr {background-color:#333; height:40px; position:relative;}
#wrap header #top_bnr .top_bnr_contents {}
#wrap header #top_bnr .top_bnr_contents p {
    font-size:0.75rem; color:#fff; font-weight:500; margin:0; text-align:center; line-height:40px;
}
#wrap header #top_bnr .top_bnr_close {
    position:absolute; right:80px; top:50%; transform:translateY(-50%); width:12px;
}
#wrap header #top_bnr .top_bnr_close img {width:100%;}
#wrap header .all_menu {
    height:55px; background-color:#fff; padding:0 80px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    position:relative;
}
#wrap header .all_menu nav {}
#wrap header .all_menu nav #gnb {
    display:flex; flex-flow:row nowrap;
    justify-content:center; align-items:center;
}
#wrap header .all_menu nav #gnb > li {position:relative;}
#wrap header .all_menu nav .depth_bg {
    width:100%; height:55px; background-color:#fff;
    position:absolute; left:0; top:100%; z-index:9; opacity:0.5;
    display:none;
}
/* ==================================================== depth2 */
#wrap header .all_menu nav #gnb > li > .gnb_depth2 {
    /* background-color:beige; */ width:auto; height:100%;
    position:absolute; left:0; top:100%; z-index:50;
    display:flex; flex-flow:row nowrap;
    display:none;
}
#wrap header .all_menu nav #gnb > li > .gnb_depth2 > li {
    width:100%; 
}
#wrap header .all_menu nav #gnb > li > .gnb_depth2 > li > a {
    padding:20.5px 15px; white-space:nowrap; line-height:55px;
}
/* ==================================================== depth1 */
#wrap header .all_menu nav #gnb > li > a {
    display:inline-block; padding:20.5px 15px; position:relative; z-index:10;
}
#wrap header .all_menu nav #gnb > li > a:hover {border-bottom:2px solid #333; font-weight:500;}
#wrap header .all_menu nav #gnb > li:first-child > a:hover {border-bottom:0px solid #333;}
#wrap header .all_menu nav #gnb > li:last-child > a:hover {border-bottom:2px solid #FF6E86; font-weight:500;}
#wrap header .all_menu nav #gnb > li:last-child > a {color:#FF6E86;}
#wrap header .all_menu nav #gnb > a > img {height:100%;}
#wrap header .all_menu h1 {}
#wrap header .all_menu h1 a {
    width:130px; position:absolute;
    left:50%; top:50%; transform:translate(-50%, -50%);
}
#wrap header .all_menu h1 a img {width:100%;}
#wrap header .all_menu .user_menu {}
#wrap header .all_menu .user_menu a {margin-right:30px;}
#wrap header .all_menu .user_menu a:last-child {margin-right:0;}
#wrap header .all_menu .user_menu a img {}

/* ===========================================================================hero_bnr */
#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper_wrap {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text {
    padding:295.5px 0 295.5px 318px;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p {
    font-size:0.88rem; font-weight:300; display:inline-block;
    display:flex; align-items:center; margin-bottom:15px;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p span {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 {
    font-size:3.75rem; font-weight:700; line-height:1.2; margin-bottom:50px;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p {
    font-weight:300; line-height:1.8;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p em {
    font-weight:500;
}

/* ===========================================================================공통 container */
#wrap main .container {
    padding:140px 80px 0; width:100%; /* background-color: aquamarine; */}
#wrap main .container .title {/* background-color:bisque; */ text-align: center;}
#wrap main .container .title h1 {
    font-family: "Fredoka", sans-serif; font-weight:500; 
    color:#333; font-size:2rem; margin-bottom:15px;
}
#wrap main .container .title .list {padding:0 0 50px 0;}
#wrap main .container .title .list a {
    font-size:0.88rem; font-weight:300; color:#888; margin-right:20px;
}
#wrap main .container .title .list a:last-child {margin-right:0;}
#wrap main .container .title .list a.active {
    font-weight:500; color:#333;
}
#wrap main .container .more {
    /* background-color:aqua; */ margin-bottom:30px;
    color:#555; font-size:0.75rem; height:16px; 
    display:flex; justify-content:flex-end; align-items:center; 
}
#wrap main .container .more img {height:100%;}
#wrap main .container .list_container {width:100%;}
#wrap main .container .list_container .swiper {}
#wrap main .container .list_container .swiper .swiper-wrapper {margin-bottom:100px;}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide {
    width:calc((100% - 90px) / 4);
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo {}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo img {
    width:100%; margin-bottom:20px;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents {}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; margin-bottom:30px;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents > h2 {margin-bottom:30px;}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents > h2,
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title h2 {color:#333; font-weight:500;}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title .color {
    display:flex; gap:7px;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title .color span {
    display:inline-block; width:10px; height:10px; border-radius:10px; background:#888;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .contents_title .color > p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info {
    display:flex; gap:8px; margin-bottom:10px;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info .discount {
    color:#FF6E86; font-weight:500; font-size:0.94rem;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info .price {
    color:#333; font-size:0.94rem;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .price_info del {
    color:#888; font-weight:300; font-size:0.75rem;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .grade {
    display:flex; align-items:center; width:14px;
}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .grade img {width:100%; margin-right:2px;}
#wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .contents .grade p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .container .list_container .swiper .swiper-wrapper .slide1 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide2 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide3 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide4 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide5 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide6 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide7 {}
#wrap main .container .list_container .swiper .swiper-wrapper .slide8 {}
#wrap main .container .list_container .swiper .control_bar {position:relative;}
#wrap main .container .list_container .swiper .control_bar .prev,
#wrap main .container .list_container .swiper .control_bar .next {
    bottom:50%; transform:translateY(-50%); width:24px; height:24px; z-index:100;
    background-position:center; background-size:contain;
}
#wrap main .container .list_container .swiper .control_bar .prev {
    background-image:url(../images/icons/prev2.png);
}
#wrap main .container .list_container .swiper .control_bar .next {
    background-image:url(../images/icons/next2.png);
}
#wrap main .container .list_container .swiper .control_bar .prev svg,
#wrap main .container .list_container .swiper .control_bar .next svg {display:none;}
#wrap main .container .list_container .swiper .control_bar .page_bar {}
#wrap main .container .list_container .swiper .control_bar .page_bar .pagi {
    display:flex; padding:12px 55px; 
}
#wrap main .container .list_container .swiper .control_bar .page_bar .pagi .swiper-pagination-bullet {
    width:50%; height:1px; background:#d9d9d9; margin:0; opacity:1;
}
#wrap main .container .list_container .swiper .control_bar .page_bar .pagi .swiper-pagination-bullet-active {
    width:50%; height:1px; background:#888 !important;
}
#wrap main .container .list_container .swiper .control_bar .page_bar .bar_bg {}
#wrap main .container .list_container .swiper .control_bar .page_bar .bar_bg .bar {}

/* ===========================================================================footer */
#wrap footer * {color:#fff;}
#wrap footer {
    background-color:#333;
    border-top:1px solid #fff; 
}
#wrap footer .footer_top {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:0 300px;
}
#wrap footer .footer_top .fnb {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    gap:40px; padding:20px 0; 
}
#wrap footer .footer_top .fnb a {}
#wrap footer .footer_top .footer_sns {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    gap:40px; 
}
#wrap footer .footer_top .footer_sns a {height:32px;}
#wrap footer .footer_top .footer_sns a img {height:100%;}
#wrap footer .footer_bottom {
    border-top:1px solid #fff; padding:45px 0;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
#wrap footer .footer_bottom .footer_left {
    padding-left:300px;
}
#wrap footer .footer_bottom .footer_left h1 {
    font-size:0.88rem; font-weight:500;
}
#wrap footer .footer_bottom .footer_left address {
    font-size:0.75rem; line-height:1.8;
}
#wrap footer .footer_bottom .footer_left address span {
    background:#888; width:1px; height:8px;
    margin:0 10px; display:inline-block;
}
#wrap footer .footer_bottom .footer_left address a {font-size:0.75rem; line-height:1.8;}
#wrap footer .footer_bottom .footer_left p {font-size:0.75rem; line-height:1.8;}
#wrap footer .footer_bottom .footer_left p a {font-size:0.75rem; line-height:1.8;}
#wrap footer .footer_bottom .footer_right {
    padding-right:325px;
}
#wrap footer .footer_bottom .footer_right h2 {
    font-size:0.88rem; font-weight:500;
}
#wrap footer .footer_bottom .footer_right p {font-size:0.75rem;}
#wrap footer .footer_bottom .footer_right p span {
    background:#888; width:1px; height:8px;
    margin:0 10px; display:inline-block;
}
#wrap footer .footer_bottom .footer_right .cs_number {
    font-size:2.5rem; font-weight:500;
    padding:10px 0;
}
#wrap footer .footer_bottom .footer_right .cs_time {margin-bottom:6px;}
#wrap footer .footer_bottom .footer_right .cs_desc {
    line-height:1.3; margin-bottom:15px;
}
#wrap footer .footer_bottom .footer_right .cs_btn {
    display:flex; gap:15px;
}
#wrap footer .footer_bottom .footer_right .cs_btn a {
    padding:8px 15px; border:1px solid #fff; display:inline-block;
    line-height:1.3; font-size:0.75rem;
}