/* index.css */
/* ===========================================================================1. hero_bnr */
#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper_wrap {position:relative;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 {
    background-image:url(../images/hero_bnr/hero_bnr01.jpg);
    background-size:cover; background-position:center;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p {color:#E3F3CD;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p span {
    display:inline-block; margin:0 5px; width:20px; height:1px; background:#E3F3CD;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title h1 {color:#fff;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text > p {color:#E3F3CD;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text > p em {color:#fff;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 {
    background-image:url(../images/hero_bnr/hero_bnr02.jpg);
    background-size:cover; background-position:center;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title {display:flex; gap:10px; position:relative;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title p {color:#fff;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title p::after {
    content:''; display:block; width:10px; height:10px;
    position:absolute; left:260px; top:0;
}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title span {color:#F9E2CF; font-weight:500;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title h1 {color:#fff;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text > p {color:#F9E2CF;}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text > p em {color:#fff;}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar {}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .prev,
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .next {
    width:32px; height:32px; z-index:100;
    background-position:center; background-size:contain;
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .prev {
    background-image:url(../images/icons/prev.png);
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .next {
    background-image:url(../images/icons/next.png);
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .prev svg,
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .next svg {display:none;}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar {}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar .pagi {
    display:flex; padding:12px 55px; 
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar .pagi .swiper-pagination-bullet {
    width:50%; height:1px; background:#d9d9d9; margin:0; opacity:1;
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar .pagi .swiper-pagination-bullet-active {
    width:50%; height:1px; background:#888 !important;
}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar .bar_bg {}
#wrap main #hero_bnr .hero_swiper_wrap .control_bar .page_bar .bar_bg .bar {}



#wrap main #hero_bnr .hero_swiper_wrap .prev {}
#wrap main #hero_bnr .hero_swiper_wrap .next {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .pagi {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .bar_bg {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .bar_bg .bar {}
/* ===========================================================================2. best_seller */
#wrap main .best_seller {}
#wrap main .best_seller .title {}
#wrap main .best_seller .title h1 {}
#wrap main .best_seller .title .list {}
#wrap main .best_seller .title .list a {}
#wrap main .best_seller .title .list a.active {}
#wrap main .best_seller .more {}
#wrap main .best_seller .more img {}
#wrap main .best_seller .best_list {}
#wrap main .best_seller .best_list .base_swiper {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide > a {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide > a img {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents h2 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info .discount {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info .price {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info del {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade img {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade p {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide1 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide2 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide3 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide4 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide5 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide6 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide7 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide8 {}
#wrap main .best_seller .best_list .swiper .control_bar {}
#wrap main .best_seller .best_list .swiper .control_bar .prev {}
#wrap main .best_seller .best_list .swiper .control_bar .next {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .pagi {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .bar_bg {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .bar_bg .bar {}
/* 메이크업 스와이퍼 */
#wrap main .best_seller .best_list .makeup_swiper {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide > a {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide > a img {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title h2 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color span {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color span p {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info .discount {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info .price {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info del {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade img {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade p {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide1 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide2 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide3 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide4 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide5 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide6 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide7 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide8 {}
/* ===========================================================================3. new_item */
#wrap main .new_item {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; gap:30px;
    padding:180px 80px 0;
}
#wrap main .new_item > p {}
#wrap main .new_item > p > img {
    width:100%; height:auto;
}
#wrap main .new_item .new_container {width:50%;}
#wrap main .new_item .new_container .new_info {}
#wrap main .new_item .new_container .new_info h1,
#wrap main .new_item .new_container .new_info h1 span {font-family: "Fredoka", sans-serif; color:#333;}
#wrap main .new_item .new_container .new_info h1 {
    font-weight:300; font-size:2.50rem; margin-bottom:56px;
}
#wrap main .new_item .new_container .new_info h1 span {
    font-weight:400; font-size:2.81rem; line-height:1.25;
}
#wrap main .new_item .new_container .new_info .new_detail {
    display:flex; justify-content:space-between; align-items:center;
    padding:30px 0;
}
#wrap main .new_item .new_container .new_info .new_detail p {
    color:#333; font-weight:200; font-size:0.91rem; line-height:1.7;
}
#wrap main .new_item .new_container .new_info .new_detail p span {
    color:#333; 
}
#wrap main .new_item .new_container .new_info .new_detail .more {
    color:#555; font-size:0.75rem; height:16px; 
    display:flex; justify-content:flex-end; align-items:center; 
}
#wrap main .new_item .new_container .new_info .new_detail .more img {height:100%;}
#wrap main .new_item .new_container .new_list {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; gap:30px;
    position:relative;
}
#wrap main .new_item .new_container .new_list .new_contents {padding-bottom:30px;}
#wrap main .new_item .new_container .new_list .new_contents .photo {}
#wrap main .new_item .new_container .new_list .new_contents .photo img {width:100%; margin-bottom:20px;}
#wrap main .new_item .new_container .new_list .new_contents .contents {}
#wrap main .new_item .new_container .new_list .new_contents .contents > h2 {margin-bottom:35px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; margin-bottom:30px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title h2 {
    color:#333; font-weight:500;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color {display:flex; gap:7px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color span {
    display:inline-block; width:10px; height:10px; border-radius:10px; background:#888;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color span p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list .new_contents:nth-child(2) .contents .price_info {
    display:flex; flex-flow:column nowrap; gap:8px; margin-bottom:10px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info {
    display:flex; gap:8px; margin-bottom:10px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info .discount {
    color:#FF6E86; font-weight:500; font-size:0.94rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info .price {
    color:#333; font-size:0.94rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info del {
    color:#888; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade {
    display:flex; align-items:center; width:14px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade img {width:100%; margin-right:2px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list::after {
    content:''; display:block; width:100%; height:1px;
    position:absolute; left:0; bottom:0; background:#D9D9D9;
}
/* ===========================================================================4. boncept */
#wrap main .boncept {padding-bottom:140px;}
#wrap main .boncept .boncept_bnr {
    background-image:url(../images/product/boncept/boncept_bnr.jpg);
    background-position:center; background-size: cover;
    width:100%; position:relative; margin-bottom:50px;
    display:flex;
}
#wrap main .boncept .boncept_bnr .title::before {
    content:''; display:block; width:300px; height:300px; 
    background-image:url(../images/product/boncept/boncept.png);
    background-position:center; background-size: cover;
    opacity:0.2; position:absolute; left:427px; top:50%; transform:translateY(-50%);
}
#wrap main .boncept .boncept_bnr .title {padding:145.5px 0 145.5px 350px;}
#wrap main .boncept .boncept_bnr .title h1 {color:#fff; font-size:2.50rem; margin-bottom:15px;}
#wrap main .boncept .boncept_bnr .title p {color:#FFCDCF; font-size:1.38rem;}

/* ===========================================================================5. monthlyTONY. */
#wrap main .magazine_wrap {
    display:flex; padding:0 0 0 80px;
}
#wrap main .magazine_wrap .monthly_tony {
    display:flex; flex-flow:column nowrap; width:auto;
}
#wrap main .magazine_wrap .monthly_tony h1,
#wrap main .magazine_wrap .monthly_tony h1 span {
    color:#333; font-family: "Fredoka", sans-serif;
}
#wrap main .magazine_wrap .monthly_tony h1 {
    padding:94.5px 71.5px; font-weight:300; font-size:2.188rem;
}
#wrap main .magazine_wrap .monthly_tony h1 span {
    font-weight:500; font-size:3.125rem; padding-left:5px;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap {
    display:flex; flex-flow:column nowrap;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap .magazine_list {}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li {
    padding:30px 25px;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active {
    background-color:#f5f5f5;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active a {}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active a p {
    color:#333; margin-bottom:15px; font-size:0.875rem;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    height:20px;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active a .magazine_title h2 {
    font-family: "Fredoka", sans-serif; font-weight:400; 
    color:#333; font-size:1.125rem;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li.active a .magazine_title img {}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a {}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a p {
    color:#333; margin-bottom:15px; font-size:0.75rem; font-weight:300;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    height:20px;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title h2 {
    font-family: "Fredoka", sans-serif; font-weight:300; 
    color:#333;
}
#wrap main .magazine_wrap .monthly_tony .magazine_list_wrap li a .magazine_title img {height:100%}
#wrap main .magazine_wrap .magazine {
    display:flex; flex-flow:row nowrap; gap:40px;
    padding:60px 60px 0 80px; background-color:#f5f5f5;
    width:calc(100% - 450px);
}
#wrap main .magazine_wrap .magazine > img {height:100%;}
#wrap main .magazine_wrap .magazine .magazine_container {
    display:flex; flex-flow:column nowrap; justify-content:space-between; align-items:flex-start;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product {
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center; gap:20px;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .photo {}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .photo img {}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents {}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents h2 {
    color:#333; font-weight:500; margin-bottom:30px;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .price_info {
    display:flex; flex-flow:row nowrap; gap:8px; margin-bottom:10px;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .price_info .discount {
    color:#FF6E86; font-size:0.938rem; font-weight:500;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .price_info .price {
    color:#333; font-size:0.938rem;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .price_info del {
    color:#888; font-size:0.75rem; font-weight:300;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .grade {
    display:flex; align-items:center; height:14px;
}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .grade img {height:100%;}
#wrap main .magazine_wrap .magazine .magazine_container .magazine_product .contents .grade p {
    color:#333; font-size:0.75rem; font-weight:300;
}
/* ===========================================================================6. brand store */
#wrap main .brand_store {}
#wrap main .brand_store .title {}
#wrap main .brand_store .title h1 {}
#wrap main .brand_store .title p {}
#wrap main .brand_store .store_search_wrap {}
#wrap main .brand_store .store_search_wrap .store_map {}
#wrap main .brand_store .store_search_wrap a img {}
#wrap main .brand_store .store_search_wrap #store_search_form {}
#wrap main .brand_store .store_search_wrap #store_search_form .tab_area {}
#wrap main .brand_store .store_search_wrap #store_search_form .tab_area .tab {}
#wrap main .brand_store .store_search_wrap #store_search_form .tab_area .tab.active {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search #map_search_area {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search #map_search_area .button {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .map_search #map_search_area .button img {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .filter_area {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .filter_area .search_result {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .filter_area .search_result .total {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .filter_area .search_result .total #use_place {}
#wrap main .brand_store .store_search_wrap #store_search_form .search_area_wrap .filter_area .search_result .total #use_place label {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address h2 {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_address > p {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list .store_info .store_number {}
#wrap main .brand_store .store_search_wrap #store_search_form .result_list_area .result_list img {}