/* index.css */
/* ===========================================================================1. hero_bnr */
#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper_wrap {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p span {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p em {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 {}
#wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 {}
#wrap main #hero_bnr .hero_swiper_wrap .prev {}
#wrap main #hero_bnr .hero_swiper_wrap .next {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .pagi {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .bar_bg {}
#wrap main #hero_bnr .hero_swiper_wrap .pagi_bar .bar_bg .bar {}
/* ===========================================================================2. best_seller */
#wrap main .best_seller {}
#wrap main .best_seller .title {}
#wrap main .best_seller .title h1 {}
#wrap main .best_seller .title .list {}
#wrap main .best_seller .title .list a {}
#wrap main .best_seller .title .list a.active {}
#wrap main .best_seller .more {}
#wrap main .best_seller .more img {}
#wrap main .best_seller .best_list {}
#wrap main .best_seller .best_list .base_swiper {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide > a {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide > a img {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents h2 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info .discount {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info .price {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .price_info del {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade img {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .swiper-slide .contents .grade p {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide1 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide2 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide3 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide4 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide5 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide6 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide7 {}
#wrap main .best_seller .best_list .base_swiper .swiper-wrapper .slide8 {}
#wrap main .best_seller .best_list .swiper .control_bar {}
#wrap main .best_seller .best_list .swiper .control_bar .prev {}
#wrap main .best_seller .best_list .swiper .control_bar .next {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .pagi {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .bar_bg {}
#wrap main .best_seller .best_list .swiper .control_bar .page_bar .bar_bg .bar {}

#wrap main .best_seller .best_list .makeup_swiper {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide > a {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide > a img {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title h2 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color span {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .contents_title .color span p {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info .discount {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info .price {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .price_info del {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade img {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .swiper-slide .contents .grade p {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide1 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide2 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide3 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide4 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide5 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide6 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide7 {}
#wrap main .best_seller .best_list .makeup_swiper .swiper-wrapper .slide8 {}

#wrap main .new_item {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; gap:30px;
    padding:180px 80px 0;
}
#wrap main .new_item > p {width:50%;}
#wrap main .new_item > p > img {width:100%;}
#wrap main .new_item .new_container {width:50%;}
#wrap main .new_item .new_container .new_info {}
#wrap main .new_item .new_container .new_info h1,
#wrap main .new_item .new_container .new_info h1 span {font-family: "Fredoka", sans-serif; color:#333;}
#wrap main .new_item .new_container .new_info h1 {
    font-weight:300; font-size:2.50rem; margin-bottom:56px;
}
#wrap main .new_item .new_container .new_info h1 span {
    font-weight:400; font-size:2.81rem; line-height:1.25;
}
#wrap main .new_item .new_container .new_info .new_detail {
    display:flex; justify-content:space-between; align-items:center;
    padding:30px 0;
}
#wrap main .new_item .new_container .new_info .new_detail p {
    color:#333; font-weight:200; font-size:0.91rem; line-height:1.7;
}
#wrap main .new_item .new_container .new_info .new_detail p span {
    color:#333; 
}
#wrap main .new_item .new_container .new_info .new_detail .more {
    color:#555; font-size:0.75rem; height:16px; 
    display:flex; justify-content:flex-end; align-items:center; 
}
#wrap main .new_item .new_container .new_info .new_detail .more img {height:100%;}
#wrap main .new_item .new_container .new_list {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; gap:30px;
    position:relative;
}
#wrap main .new_item .new_container .new_list .new_contents {padding-bottom:30px;}
#wrap main .new_item .new_container .new_list .new_contents .photo {}
#wrap main .new_item .new_container .new_list .new_contents .photo img {width:100%; margin-bottom:20px;}
#wrap main .new_item .new_container .new_list .new_contents .contents {}
#wrap main .new_item .new_container .new_list .new_contents .contents > h2 {margin-bottom:35px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center; margin-bottom:30px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title h2 {
    color:#333; font-weight:500;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color {display:flex; gap:7px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color span {
    display:inline-block; width:10px; height:10px; border-radius:10px; background:#888;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .contents_title .color span p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list .new_contents:nth-child(2) .contents .price_info {
    display:flex; flex-flow:column nowrap; gap:8px; margin-bottom:10px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info {
    display:flex; gap:8px; margin-bottom:10px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info .discount {
    color:#FF6E86; font-weight:500; font-size:0.94rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info .price {
    color:#333; font-size:0.94rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .price_info del {
    color:#888; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade {
    display:flex; align-items:center; width:14px;
}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade img {width:100%; margin-right:2px;}
#wrap main .new_item .new_container .new_list .new_contents .contents .grade p {
    color:#333; font-weight:300; font-size:0.75rem;
}
#wrap main .new_item .new_container .new_list::after {
    content:''; display:block; width:100%; height:1px;
    position:absolute; left:0; bottom:0; background:#D9D9D9;
}


