/* responsive.css */
/* mobile(402~) -> tablet(1028~) -> desktop(1920~) */
@media screen and (max-width:1028px) {
    /* ===========================================================================0. header */
    #wrap header .all_menu nav #gnb a {display:none;}
    #wrap header .all_menu nav #gnb a:first-child {display:block;}
    /* ===========================================================================1. hero_bnr */
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text {
        padding:288px 0 288px 122px;
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title p {font-size:0.75rem; margin-bottom:12px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 .hero_swiper .text .text_title p span {width:10px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text .text_title h1 {font-size:3.13rem; margin-bottom:30px;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .swiper-slide .hero_swiper .text > p {font-size:0.75rem;}
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide1 {
    background-image:url(../images/hero_bnr/hero_bnr_t01.jpg);
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 {
        background-image:url(../images/hero_bnr/hero_bnr_t02.jpg);
    }
    #wrap main #hero_bnr .hero_swiper_wrap .swiper-wrapper .slide2 .hero_swiper .text .text_title .sub_text_title {display:flex; flex-flow:column wrap; gap:10px; position:relative;}
    /* ===========================================================================공통 container */
    #wrap main .container {padding:80px 80px 0;}
    #wrap main .container .list_container .swiper .swiper-wrapper {
    width:calc((100% - 40px) / 3);
    }
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo {height:350px;}
    #wrap main .container .list_container .swiper .swiper-wrapper .swiper-slide .photo img {
    height:100%; margin-bottom:20px;
    }
    /* ===========================================================================3. new_item */
    #wrap main .new_item {
    gap:30px; padding:80px 80px 0 0;
    }
    #wrap main .new_item > p {
    background-image:url(../images/product/new_item/new_left_bnr.png);
    background-position:center; background-size:cover; width:356px; height:726px;
    overflow:hidden;
    }
    #wrap main .new_item > p > img {height:100%;}
    #wrap main .new_item .new_container .new_info .new_detail {
        display:flex; justify-content:space-between; align-items:center;
        padding:30px 0;
    }
}